
.buttons .btn-coul-1, .logos-social-net .btn-coul-1{
    color: #0D8D81;
    font-weight: 500;
    background-color: #FFFFFF;
}

.buttons .btn-coul-2, .logos-social-net .btn-coul-2 {
    color: #0D8D81;
    font-weight: 500;
    background-color: #303030;
}

.buttons .btn-coul-3 {
    color: white;
    font-weight: 500;
    background: #1c91b0;
    background: -webkit-linear-gradient(to right, #0d76b9, #34bba0);
    background: linear-gradient(to right, #0d76b9, #34bba0);
}

.input-field li {
    position: relative;
    z-index: 100;
    border-top: 2px solid #f03131;
    padding-top: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -1.5rem;
    color:#f03131;
}

.signin-page .input-field li {
    color: white;
}

.logos-social-net .btn-floating {
    box-shadow: 0px 1px 5px #3D3D3D;
}

.home-page, .signin-page {
    height: 100vh;
    padding: 0 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #1c91b0;
    background: url("../img/board-game.png"), -webkit-linear-gradient(left, #0d76b9, #34bba0);
    background: url("../img/board-game.png"), -o-linear-gradient(left, #0d76b9, #34bba0);
    background: url("../img/board-game.png"), linear-gradient(to right, #0d76b9, #34bba0);
    background-repeat: no-repeat;
    background-position: -20px bottom;
    background-size: 125%;
}

    .home-page .logo-1 {
        display: block;
        width: 36.8vh;
    }

    .home-page .logo-3 {
        display: none;
    }

    .text h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 3.6vh;
        line-height: 5.5vh;
        text-align: center;
        margin: 5vh 0 6vh 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .home-page .buttons a {
        width: 60vw;
        margin-top: 2.5vh;
    }


    @media (min-width: 500px) {

        .home-page, .signin-page {
            background: url("../img/board-game-2.png"), -webkit-linear-gradient(left, #0d76b9, #34bba0);
            background: url("../img/board-game-2.png"), -o-linear-gradient(left, #0d76b9, #34bba0);
            background: url("../img/board-game-2.png"), linear-gradient(to right, #0d76b9, #34bba0);
            background-size: 110%;
            background-position: -20px center;
        }

            .home-page .logo-1 {
                display: none;
            }

            .home-page .logo-3 {
                margin-top: 5vh;
                display: block;
                width: 75vh;
            }

    .buttons {
        display: flex;
        flex-direction: row;
    }

        .text h1 {
            width: 60vw;
            font-size: 6vh;
            font-weight: 200;
            line-height: 8vh;
            margin: 5vh 0 5vh 0;
        }

    .home-page .buttons a {
        width: 30vw;
        margin: 2.5vh;
    }



    }

/*///////////////////////////////////////////////////*/

.signup-page {
    height: 100vh;
    padding: 0 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #303030;        
    background-image: url("../img/board-game-3.png");
    background-repeat: no-repeat;
    background-position: -20px bottom;
    background-size: 125%;
}

    .signup-page .logo img {
        width: 42vh;
    }

            .signup-page form {
            display: flex;
            flex-direction: column;
            width: 70vw;
            margin: 2.3vh 0 0vh 0;
        }


                .signup-page .input-field input {
                font-size: 1.5rem;
                height: 2.5rem;
                font-weight: 500;
           }

          /* label color */
           .signup-page .input-field label {
             font-size: 1.3rem;   
             color: #3D3D3D;
           }
           /* label focus color */
           .signup-page .input-field input[type=text]:focus + label,
           .signup-page .input-field input[type=email]:focus + label,
           .signup-page .input-field input[type=password]:focus + label {
             color: #3D3D3D;
           }
           
           /* label underline color */
            .signup-page input[type=text]:not(.browser-default),
            .signup-page input[type=email]:not(.browser-default),
            .signup-page input[type=password]:not(.browser-default) {
                height: 2.6rem;
                border-bottom: 1px solid #80CBC4;
            }   

           /* label underline focus color */
           .signup-page .input-field input[type=text]:focus,
            .signup-page .input-field input[type=email]:focus,
           .signup-page .input-field input[type=password]:focus {
                border-bottom: 1px solid #80CBC4;
           }

    .signup-page .separate {
        display: flex;
        align-items: center;
        width: 69vw;
        height: 8vh;
        margin-bottom: 0.5vh;
    }
        .signup-page .ou {
            flex: 1.5;
            font-size: 2vh;
            font-weight: 500;
            text-align: center;
            line-height: 1vh;
        }



    .signin-page .separate {
        display: flex;
        align-items: center;
        width: 69vw;
        height: 8vh;
        margin-bottom: 0.5vh;
    }
        .signin-page .ou {
            flex: 1.5;
            font-size: 2vh;
            font-weight: 500;
            text-align: center;
            line-height: 1vh;
        }

        .signup-page .buttons {
                margin-top: 5vh;
                width: 70vw;
        }

        .signup-page .separate {
            display: flex;
            align-items: center;
            width: 69vw;
            margin: 2vh 0;
        }


        .signup-page .trait {
            flex: 4;
            height: 1px;
            background: #303030;
        }

.logos-social-net {
    width: 85vw;
    display: flex;
    justify-content: space-between;
}

    .logos-social-net a {
        display: flex;
        justify-content: center;
        align-items: center;
    }


        .logos-social-net a .facebook-pict {
            width: 20.8%; 
        }

        .logos-social-net a .twitter-pict {
            width: 42%; 
        }

        .logos-social-net a .google-pict {
            width: 56%; 
        }


        @media (min-width: 500px) {

        .signup-page form {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 85vw;
            height: 55vh;
            margin: 0;
        }


            .signup-page .input-field{
                width: 48%;
                height: 7vh;
            }


    .signup-page .logo img {
        width: 40vw;
    }

        .signup-page {
            background-position: 0 140px;
            background-size: 100%;
        }

            .signup-page .buttons {
                margin: 1vh 0 -5vh 0;
                display: flex;
                justify-content: center;
                width: 85vw;
                height: 5vh;
           }

            .signup-page .buttons button {
                width: 40vw;
           }


        .signup-page .separate {
            margin: 0;
            display: flex;
            align-items: center;
            width: 85vw;
        }

        .signup-page .ou {
            flex: 0.5;
            font-size: 3.5vh;
            font-weight: 500;
            text-align: center;
            line-height: 1vh;
        }


        .logos-social-net {
            width: 40vw;
            display: flex;
            justify-content: space-between;
        }

        .signup-page .logos-social-net a {
            width: 40px;
            height: 40px;

        }



    }



/*///////////////////////////////////////////////////*/


        .signin-page .logo-1 {
            display: block;
            width: 35vh;
        }

        .signin-page .logo-3 {
            display: none;
        }

        .signin-page form {
            display: flex;
            flex-direction: column;
            width: 70vw;
        }


            .signin-page .input-field{
                margin-top: 5vh;
           }

            .signin-page .input-field input {
                font-size: 1.5rem;
                height: 2.5rem;
           }

          /* label color */
           .signin-page .input-field label {
             font-size: 1.3rem;   
             color: #3D3D3D;
           }
           /* label focus color */
           .signin-page .input-field input[type=text]:focus + label,
           .signin-page .input-field input[type=password]:focus + label {
             color: #3D3D3D;
           }
           
           /* label underline color */
            .signin-page input[type=text]:not(.browser-default),
            .signin-page input[type=password]:not(.browser-default) {
                height: 2.6rem;
                border-bottom: 1px solid #80CBC4;
            }   

           /* label underline focus color */
           .signin-page .input-field input[type=text]:focus,
           .signin-page .input-field input[type=password]:focus {
                border-bottom: 1px solid #fff;
           }

        .signin-page .forgotdiv {
                margin-bottom: 6vh;
        }

        .signin-page .forgot {
                font-size: 2vh;
                color: #fff;
                text-align: center;
                width: 70vw;
        }

        .signin-page .separate {
            display: flex;
            align-items: center;
            width: 68vw;
            height: 8vh;
            margin: 2.5vh 0 2.5vh 0;
        }


        .logos-social-net {
            width: 65vw;
            display: flex;
            justify-content: space-between;
        }


        .signin-page .buttons {
                margin-top: 6vh;
                width: 70vw;
        }


        .signin-page .trait {
            flex: 4;
            height: 1px;
            background: #fff;
        }

        .signin-page .logos-social-net a .google-pict {
            width: 60%; 
        }

        @media (min-width: 500px) {

            .signin-page .logo-1 {
                display: none;
            }

            .signin-page .logo-3 {
                display: block;
                width: 45vw;
            }


        .signin-page form {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 75vw;
            margin: 5vh 0 0 0;
        }

            .signin-page .input-field{
                width: 48%;
               }


            .signin-page .buttons {
                display: flex;
                justify-content: center;
                width: 75vw;
                margin-top: 5vh;
           }

            .signin-page .buttons button {
                width: 40vw;
           }

        .signin-page .forgotdiv {
                margin-bottom: 4vh;
        }


        .signin-page .forgot {
                font-size: 3.3vh;
        }

        .signin-page .separate {
            width: 75vw;
            margin: 3vh 0 2.5vh 0;
        }

        .signin-page .ou {
            flex: 0.5;
            font-size: 3.5vh;
            font-weight: 300;
            text-align: center;
            line-height: 1vh;
        }

        .logos-social-net {
            width: 40vw;
            display: flex;
            justify-content: space-between;
        }



    }

/*///////////////////////////////////////////////////*/

.filter-board-game-page {
    height: 100vh;
    padding: 0 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-board-game-page h1 {
    margin-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    text-align: center;
    color: #0E77BA;
}

.filter-board-game-page .list-types-bg form {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1vh 0 0 4vw;
}

.filter-board-game-page .list-types-bg form .group {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1.2vh 0 2.5vh 0;
}


.filter-board-game-page .list-types-bg form .group .toggle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.filter-board-game-page .list-types-bg form .toggle .lever {
    margin:0;
}



.group p {
    margin-top: 0.5vh;
    margin-bottom: 4vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    line-height: 2.3vh;
    padding-right: 9vw;
}

.filter-board-game-page .list-types-bg form .toggle img {
    margin-right: 1.5vw;
}

#plateau {
    width: 42%;        
}


#ambiance {
    width: 38%;        
}

#des {
    width: 36%;        
}

.filter-board-game-page .list-types-bg form .toggle #classiques {
    width: 35%;
    margin-right: 0;
}


#tcg, #cartes {
    width: 34%;        
}

.filter-board-game-page .list-types-bg form .toggle #figurines {
    width: 44%;
    margin-right: -1vh;        
}

#roles {
    width: 36%;        
}

    .filter-board-game-page .buttons {
        margin-top: 2vh;
   }

    .filter-board-game-page .buttons button{
            width: 65vw;
            margin-left: -4vw;
            margin-bottom: 4vh;
   }

@media (min-width: 500px) {

    .filter-board-game-page h1 {
        font-size: 7.2vh;
        width: 80vw;
        margin: 0;
    }

    .filter-board-game-page .list-types-bg form {
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5vh;
        margin-left: 2vw;
    }

    .filter-board-game-page .list-types-bg form .group {
        margin-top: 2vh;
        width: 25%;
    }

    .filter-board-game-page .list-types-bg form .toggle img {
        margin-top: 1vh;
        margin-right: 1vw;
    }

    .group p {
        margin-top: 0.7vh;
        font-size: 3.5vh;
        line-height: 3.8vh;
        padding-right: 5.3vw;
    }

    .filter-board-game-page .list-types-bg form .toggle #classiques {
        margin-left: -1vw;
    }

    .filter-board-game-page .buttons {
            margin-top: 5vh;
            margin-bottom: 0vh;

   }


    .filter-board-game-page .buttons button {
        width: 80vw;
        color: white;
        margin-bottom: -3vh;
        margin-left: -2vw;
   }

}

/*///////////////////////////////////////////////////*/

.map-page, .profil-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .map-page .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: #1c91b0;
    background: -webkit-linear-gradient(to right, #0d76b9, #34bba0);
    background: linear-gradient(to right, #0d76b9, #34bba0);
    height: 146px;
    z-index: 110;
    box-shadow: 0px 0px 5px #5A5A5A;
}
    .map-page .header .part-1 {
        display: flex;
        align-items: center;
        height: 10vh;
        padding-left: 19vw;
    }

    .map-page .header .part-1 .logo {
        width: 48vw;
    }

    .map-page .header .part-1 .menu-point {
        color: white;
        margin-top: 0.8vh;
        margin-left: 16vw;
    }

    .map-page .header .part-2 input {
        font-size: 1.5rem;
        text-align: center;
        width: 85vw;
        height: 4.5vh;
        margin: 0;
        border-radius: 5px;
        border: none;
    }


    .map-page .header .part-3 .rayon {
        font-size: 4vw;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: white;
        margin: 1.5vh 0;
    }

    .map-page .header .part-3 .rayon span {
        font-size: 5vw;
        margin: 0 0.7vw;
        font-weight: 600;
        text-decoration : underline;
    }

.map-page .map {
    background-color: #fff;
    width: 100vw;
    flex:1;
}

.map-page .map .filtres {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}

.map-page .map .filtres .chip {
    font-size: 0.8rem;
    margin-bottom: 0.35rem;
    height: 22px;
    line-height: 21px;
    background-color: #2DAEA5;
    color: white;
    font-size: 500;
    box-shadow: 0px 1px 5px #707070;
}

.map-page .map .filtres .chip .close {
    height: 22px;
    line-height: 22px;
    font-size: 1rem;
}


.map-page .map .loading {
    width: 37%;
    height: 30%;
    position: absolute;
    top: 47%;
    left: 31.5%;
    z-index: 150;
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
}

.map-page .popupevent {
    display: flex;
    width: 100%;
    height: 17%;
    position: relative;
    left: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 5px #707070;
}

.map-page .pop-no-active {
    bottom: -17%;
}

.map-page .pop-active {
    bottom: 0;
    transition: bottom .3s ease-in-out .2s;
}


.map-page .popupevent .pict-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}


.map-page .popupevent .text-event {
    width: 65%;
}

.map-page .popupevent .text-event h2 {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
    height: 23px;
}

.map-page .popupevent .text-event .cadre-deb img {
    width: 35%;
    margin-top: 8px;
}

.map-page .popupevent .text-event .event-date-time img {
    width: 6%;
    margin-top: -3px;
    margin-right: 0.4rem;
}


.map-page .popupevent .text-event .event-city img {
    width: 5%;
    margin-top: -5px;
    margin-left: 0.1rem;
    margin-right: 0.5rem;
}
.map-page .popupevent .text-event .event-city {
    line-height: 23px;
}


.map-page .popupevent .text-event .event-member img {
    width: 6%;
    margin-top: -3px;
    margin-right: 0.3rem;
}
.map-page .popupevent .text-event .event-member {
    font-size: 14px;
    font-weight: bold;
    color: #1381B5;
    line-height: 15px;
}



.map-page .map  #mapid { 
    position: absolute;
    top: 10%;
    left:0;
    z-index: 0;
    width: 103%;
    height: 90%;
}


.barre-menu {
    z-index: 50;
    display: flex;
    align-items: center;
    background-color: #ECECEC;
    width: 100vw;
    height: 55px; 
    box-shadow: 0px 0px 5px #707070;
}


.barre-menu a {
    display: block;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
;}

.barre-menu a .m-selected {
    height: 5px;
    width: 100%;
    background-color: red;
    background: #1c91b0;
    background: -webkit-linear-gradient(to right, #0d76b9, #34bba0);
    background: linear-gradient(to right, #0d76b9, #34bba0);
}

.barre-menu .separate {
    width: 1px;
    height: 60%;
    background-color: #C4C4C4;
}

.barre-menu a:hover {
    background-color: #DFDBDB;
    height: 100%;
}

.barre-menu a img {
    margin: 1.65vh 0 1vh 0;
    width: 45%;
}

.barre-menu a.m-raking img {
    width: 34%;
}

.barre-menu a.m-notif img {
    width: 41%;
}

@media (min-width: 500px) {


.map-page .popupevent {
    width: 375px;
    height: 108px;
}

.map-page .pop-no-active {
    bottom: -30%;
}


    .map-page .header {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: row;
        height: 75px;
    }

    .map-page .header .part-1 {
        display: none;
    }


    .map-page .header .part-2 {
        width: 58%;
        margin-left: 5%;
    }

    .map-page .header .part-2 input {
        width: 100%;
        height: 8vh;
        margin: 0;
    }

    .map-page .header .part-3 {
        width: 30%;
        margin-left: 2.5%;
    }

    .map-page .header .part-3 .rayon {
        text-align: right;
        font-size: 2.5vw;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: white;
        margin: 1.5vh 0;
    }

    .barre-menu a .m-selected {
        height: 3px;
    }

    .map-page .header .part-3 .rayon span {
        font-size: 3vw;
        margin: 0 0.7vw;
        font-weight: 600;
        text-decoration : underline;
    }

    .barre-menu {
        height: 45px; 
    }

    .barre-menu a:hover {
        background-color: #DFDBDB;
        height: 100%;
    }

    .barre-menu a img {
        margin: 1.65vh 0 1vh 0;
        width: 24%;
    }

    .barre-menu a.m-raking img {
        width: 19%;
    }

    .barre-menu a.m-notif img {
        width: 23%;
    }




}




/*///////////////////////////////////////////////////*/


    .profil-page .header {
    display: flex;
    align-items: center;
    width: 100vw;
    background: #1c91b0;
    background: -webkit-linear-gradient(to right, #0d76b9, #34bba0);
    background: linear-gradient(to right, #0d76b9, #34bba0);
    height: 65px;
    z-index: 1;
    box-shadow: 0px 0px 5px #5A5A5A;
    color: white;
}

    .profil-page .header .arrow-back {
        margin: 0 3vw;
        width: 5.5%;
    }
    .profil-page .header .title {
        font-size: 5vw;
        margin-left: 5vw;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        flex: 3;
    }

    .profil-page .header .menu-point {
        margin-right: 4vw;
    }

.profil-page .profil {
    background-color: #fff;
    width: 100vw;
    flex:1;
}


    .profil-page .barre-menu a.m-profil img {
        margin: 2vh 0 1.2vh 0;
        width: 48%;
    }


@media (min-width: 500px) {

    .profil-page .header .arrow-back {
        margin: 0 2vw;
        width: 3.7%;
    }
    .profil-page .header .title {
        font-size: 3.5vw;
    }

    .profil-page .header .menu-point {
        margin-right: 2.6vw;
    }

    .profil-page .barre-menu a.m-profil img {
        margin: 2vh 0 1.2vh 0;
        width: 27%;
    }


}
