<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MeepleBox - l’app des rendez-vous ludiques, organisez ou rejoignez des parties de jeux de société autour de chez vous</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/material.css">
        <script src="js/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700">
        <link rel="stylesheet" href="css/style.css">
        
<!--    <meta charset="UTF-8">
        <title>{% block title %}Salut!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
 												-->
	</head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
