{% extends 'base.html.twig' %}

{% block body %}
        <div class="home-page">
            <div class="logo">
                <img class="logo-1" src="img/svg/logo_meeplebox_1.svg" alt="Logo de MeepleBox">
                <img class="logo-3" src="img/svg/logo_meeplebox_3.svg" alt="Logo de MeepleBox allongé">
            </div>
            <div class="text">
                <h1>
                    l’app des rendez-vous ludiques, 
                    organisez ou rejoignez des parties
                    de jeux de société autour de&nbsp;chez&nbsp;vous.
                </h1>
            </div>
            <div class="buttons">
                <a href="/signin" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >SE CONNECTER</a>
                <a href="/signup" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">S'ENREGISTRER</a>
            </div>
        </div>
{% endblock %}