{% extends 'base.html.twig' %}
{% block body %}
    <div class="home-page">
        <div class="logo">
            <img class="logo-1" src="img/svg/logo_meeplebox_1.svg" alt="Logo de MeepleBox">
            <img class="logo-3" src="img/svg/logo_meeplebox_3.svg" alt="Logo de MeepleBox allongé">
        </div>
        <div class="text">
            <h1>
                l’app des rendez-vous ludiques, 
                organisez ou rejoignez des parties
                de jeux de société autour de&nbsp;chez&nbsp;vous.
            </h1>
        </div>
        <div class="buttons">
            <a href="{{ path('signin') }}" class="waves-effect waves-light btn btn-coul-1" >SE CONNECTER</a>
            <a href="{{ path('signup') }}" class="waves-effect waves-light btn btn-coul-2">S'ENREGISTRER</a>
        </div>
    </div>
{% endblock %}